@font-face {
    font-family: 'Kanit';
    src: url('Kanit-Italic.ttf') format('truetype');
  }

body {
    background-color: #151515;
    font-family: 'Kanit', sans-serif;
}

.wrapper {
    background-color: #151515;
    display: grid;
    grid-template-columns: 10% auto 10%;
    grid-template-rows: 120px auto auto 60px;
    grid-template-areas: 
        "logo nav git"
        "btn main ."
        ". page ."
        "footer footer footer";
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.page_select {
    grid-area: page;
    margin: 20px 0px 10px 0px;
    padding-bottom: 10px;
    width: 100%;
    border-top: 1px solid rgb(100, 100, 100);
    border-bottom: 1px solid rgb(100, 100, 100);
    text-align: center;
}

.page_select button {
    display: inline-block;
    margin: 10px 5px 0px 5px;
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
}

.logo {
    grid-area: logo;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    position: absolute;
    width: 120px;
}

.fa_custom {
    text-shadow: none !important;
    color: white;
    position: absolute;
    top: 15px;
    right: 10px;
    font-size: 60px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
}

.fa-custom2 {
    color: white;
    font-size: 16px;
}

.git {
    grid-area: git;
}

.search-container {
    grid-area: nav;
    text-align: center;
    margin: 0;
    padding: 0;
}

.search-box {
    position: relative;
    display: inline-block;
    width: 40%;
    margin-top: 40px;
    border-radius: 50px;
    background-color: #fff;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}

.search-box:hover {
    box-shadow: 5px 5px 6px 1px rgba(255, 255, 255, 0.2);
}

.search-box input {
    width: 100%;
    padding: 12px 20px 12px 20px;
    border: none;
    border-radius: 50px;
    background-color: #f1f1f1;
}

.search-btn {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 7px;
    margin-right: 10px;
    background: none;
    color: #000;
    font-size: 20px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}


.bouton_arriere {
    grid-area: btn;
    height: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 10px;
}

.bouton_arriere button {
    width: 50px;
    height: 40px;
    color: white;
    background: none;
    border: 2px solid white;
    border-radius: 0.5em;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.bouton_arriere button:hover {
    background: white;
    color: black;
}


/*Main : Galerie des jeux*/
.wrapper-gallery {
    display: grid;
    place-items: center;
    grid-area: main;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-areas: 
        "game1 game2 game3 game4"
        "game5 game6 game7 game8"
        "game9 game10 game11 game12"
        "game13 game14 game15 game16"
        "game17 game18 game19 game20"
        "game21 game22 game23 game24";
}

.game {
    display: grid;
    grid-template-rows: 60% 40%;
    grid-template-areas: "Photo" "Game-Info";
    margin: 10px;
    width: 300px;
    height: 350px;
    background-color: #393d40;
    border: 1px solid;
    border-radius: 1em;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.game_photo {
    grid-area: Photo;
}

.game_photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.game_info {
    grid-area: Game-Info;
    display: grid;
    grid-template-rows: 35% 65%;
    grid-template-columns: 65% 35%;
    grid-template-areas: 
        "Platforms Rating" 
        "Title Title";
    background-color: #202020;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

.game_platform {
    grid-area: Platforms;
    display: inline-block;
    text-align: center;
    padding: 0px 10px 0px 10px;
}

.game_platform i {
    display: inline-block;
    margin: 15px 5px 0px 5px;
    min-width: 20px;
}

.game_title {
    grid-area: Title;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0px 10px 20px 10px;
}

.game_title p {
    color: white;
    font-size: 19px;
}

.rating {
    grid-area: Rating;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.rating p {
    font-size: 18px;
    text-align: center;
    margin: 0;
    border-radius: 0.5em;
    padding: 0px 5px 0px 5px;
}

.back_image {
    object-fit: scale-down;
}



/* FOR GAME ELEMENT PAGE */

.wrapper_game_page {
    display: grid;
    grid-area: main;
    grid-template-columns: 50% 50%;
    grid-template-rows: 300px 60px 300px 100px auto;
    grid-template-areas: 
        "W_Title_Game W_Title_Game"
        "Platforms_Game Average_Game"
        "Synopsis_Game Video_Game"
        "Synopsis_Game Developpers_Game"
        "Carroussel_Game Carroussel_Game";
}

/* Photo + Title */
.wrapper_title_game {
    grid-area: W_Title_Game;
    display: grid;
    grid-template-rows: 80% 20%;
    grid-template-areas:
        "image_game"
        "title_game";
}

.image_game {
    grid-area: image_game;
}

.image_game img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.title_game {
    background-color: #393d40;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    grid-area: title_game;
}

.title_game p {
    color: white;
    font-size: 40px;
}

.platforms_game {
    grid-area: Platforms_Game;
}

.average_game {
    grid-area: Average_Game;
}

.synospsis_game {
    display: grid;
    grid-area: Synopsis_Game;
    grid-template-rows: 70% 30%;
    grid-template-areas: "Description_Game Types_Game";
}

.description_game {
    grid-area: Description_Game;
}

.types_game {
    grid-area: Types_Game;
}

.video_game {
    grid-area: Video_Game;
}

.developpers_game {
    grid-area: Developpers_Game;
}

.caroussel_game {
    grid-area: Carroussel_Game;
}

@media (min-width: 1276px) and (max-width: 1700px) {
    .wrapper-gallery {
        display: grid;
        place-items: center;
        grid-area: main;
        grid-template-columns: 33% 33% 33%;
        grid-template-areas: 
            "game1 game2 game3"
            "game4 game5 game6"
            "game7 game8 game9"
            "game10 game11 game12"
            "game13 game14 game15"
            "game16 game17 game18"
            "game19 game20 game21"
            "game22 game23 game24";
    }
}

@media (min-width: 826px) and (max-width: 1275px) {
    .wrapper-gallery {
        display: grid;
        place-items: center;
        grid-area: main;
        grid-template-columns: 50% 50%;
        grid-template-areas: 
            "game1 game2"
            "game3 game4"
            "game5 game6"
            "game7 game8"
            "game9 game10"
            "game11 game12"
            "game13 game14"
            "game15 game16"
            "game17 game18"
            "game19 game20"
            "game21 game22"
            "game23 game24"
    }
}

@media (min-width: 375px) and (max-width: 825px) {
    .wrapper-gallery {
        display: grid;
        place-items: center;
        grid-area: main;
        grid-template-columns: 100%;
        grid-template-areas:
        "game1"
        "game2"
        "game3"
        "game4"
        "game5"
        "game6"
        "game7"
        "game8"
        "game9"
        "game10"
        "game11"
        "game12"
        "game13"
        "game14"
        "game15"
        "game16"
        "game17"
        "game18"
        "game19"
        "game20"
        "game21"
        "game22"
        "game23"
        "game24";
    }
    .logo img {
        width: 80px;
        margin-left: 50px;
        padding-bottom: 40px;
    }
    .game {
        margin: 10px 0px 10px 0px;
    }
    .search-btn {
        display: none;
    }
    .search-box {
        margin-top: 20px;
    }
    .search-box input{
        padding-right: 5px;
    }

}


.game:hover {
    transform: scale(1.03);
}

.footer {
    grid-area: footer;
    text-align: center;
    
}
